/* Top bar css */

.slick-slider{
    width: 100%;
    padding: 8px 0;
}

.announcement-wrapper {
    text-align: center;
    width: 100%;
}

.announcement-wrapper p {
    margin: 0;
}

.slick-slider.dark {
    background-color: #333;
}

.slick-slider.light {
    background-color: #fff;
}

.slick-slider.retro{
    background-color: #fb6500;
}

.dark .announcement-wrapper p{
    color: #fff;
}

.light .announcement-wrapper p{
    color: #333;
}

.retro .announcement-wrapper p{
    color: 	#001c58;
}
