/* Top bar css */

.slick-slider {
    background-color: #333;
    width: 100%;
    padding: 8px 0;
}

.announcement-wrapper {
    /* color: #fff; */
    text-align: center;
    width: 100%;
}

.announcement-wrapper p {
    margin: 0;
    color: #fff;
}